<h1 style="text-align:center;">About Us</h1>
<div class="container " style="border: 4px solid gray;
                               backgroud-color: light-text;">
<div class="card">
  <%= image_tag("about.png", :alt => "rss feed", :class => "card-img-top resize ") %>
  <div class="card-block">
     <h4 class="text-padding">Our Story... </h4>
    <p class="card-text text-padding">We are a team of developers that met at Penn State. We organized clubs, hackathons and competitions. Eventually we started to code together and complete various local projects. Ultimately, we’ve decided it was time to expand our knowledge to a marketplace. Our expertise makes us perfect for large scale developing. We are majoring in computer science, software engineering, graphic design and entrepreneurship! Moreover, we are a team with chemistry and bring enthusiasm to every project! We love the daily challenges from developing and helping clients reach their goals. Hopefully, we can help you too!</p>
  </div>
</div>
</div>