
<div class="fixed-container styling" style="backgroud-color: light-text;">
   <h1 style="text-align:center;">Portfolio</h1>
<div >
  <%= image_tag("about.png", :alt => "rss feed", :class => "about-img") %>
 </div>
 
 

<h4>My Story... </h4>
    <p class = 'portfolio-text'> I currently have experience developing both IOS and Android applications and Websites. I am a junior full stack Web Developer that uses JavaScript, HTML,CSS for front-end development, and Ruby, ReactJs, JS, SASS and ruby for back-end development on the Rails platform. I also can aid in web development from platforms such as Wordpress, Wix, foursquare, Shopify and Weebly.
    <br><br>
    I have roughly 2-4 years of experience coding and I am continually improving!

<br><br><strong>I am ambitious and eager to learn new things from unique challenges.</strong><br><br> My education consists of self taught computer science since 2014, an engineering degree from The Pennsylvania State University in 2017 and consistently taking online courses to aid my knowledge such as Harvard X, Code Academy and UDemy. 


Communication is a priority to me. It removes all ambiguity from projects which will aid in the completion of my products. I am very adaptable and can communicate in any way that is best for you. I speak fluent english and can read and write in French or Spanish if needed. I am looking forward to working with new clients and advancing my skills.</p>


</div>